.m-center {
    text-align: center;
}

#explore-content {
    // min-height: 200px;
}

div {
    &[disabled] {
        display: none;
    }
    &.e-box {
        padding: 30px;
        margin-bottom: 15px;
        &.m-borderless {
            border: none;
        }
    }
}

.modal__content {
    background-color: #523080;
}

.team-picture {
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px auto 0;
    height: 180px;
    width: 180px;
    overflow: hidden;
    border-radius: 50%;
}

.team-name {
    font-size: 1.3rem;
}

.team-title {
    font-weight: 0.7rem;
    opacity: 0.5;
}

.team-row {
    margin-bottom: 40px;
    margin-top: 40px;
}

.video-thumbnail {
    padding-top: .9375rem;
    padding-bottom: .9375rem;
}


.video-name {
    padding-top: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.video-sub {
    font-weight: 0.7rem;
    opacity: 0.5;
}

#overlay {
    background-color: #000;
}

.main-menu:not(.js-active-menu) {
    box-shadow: none;
}

iframe {
    width: 100%;
    @include breakpoint($large) {
        height: 500px;
    }
    @include breakpoint($mobile-only) {
        height: 200px;
    }
}


// .sticky, .b-sticky {
//     padding: 0;
// }

// @media (min-width: 1025px) {
//     .b-sticky {
//         padding: 0;
//     }
// }