---
layout: default
---
<main class="case-study-page" role="main" id="case-study-page">
  <!-- Header with structured data -->
  <section class="top-section" style="background-image: url(images/banners/{{page.image}})">
    <div class="top-section__shade"></div>
    <div class="row">
      <div class="large-12 small-12 column">
        <hgroup class="titles" id="titles">
          <h4 class="collection m-{{page.impact_type | slugify}}">{{page.case_collection_long}}</h4>
          {% assign title_size = page.title | size %}
          {% if title_size > 20 %}
          <h1 class="large-title">{{page.title}}</h1>
          {% else %}
          <h1>{{page.title}}</h1>
          {% endif %}
          <h2>{{page.description}}</h2>


        <div class="progress progress--2">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

          {% comment %}
          {% if page.authors %}
            <h4>by {{page.authors}}{% if page.special_thanks %}<a class="_idFootnoteLink" href="#footnote-999">*</a>{% endif %}</h4>
          {% endif %}
          {% endcomment %}
        </hgroup>
      </div>
    </div>
    <div class="row">
      <div class="large-6 column tags tags--left hide-for-small-only">
        {% comment %}
        {% if page.impact_type %}
          <p><strong style="width: 40%">Impact</strong><span>{{page.impact_type}}</span></p>
        {% endif %}
        {% endcomment %}
        {% if page.method %}
        <p><strong style="width: 40%">Method</strong><span>{{page.method}}</span></p>
        {% endif %}
        {% if page.participatory_task %}
        <p><strong style="width: 40%">Participatory Task</strong><span>{{page.participatory_task}}</span></p>
        {% endif %}
      </div>
      {% ifhascontent readtime %}
      {% contentblock readtime %}
      {% endifhascontent %}
    </div>

    <div class="floating-button">
      <a class="button button--{{page.impact_type | slugify}}" href="files/{{page.download}}">Download The Report<i class="material-icons">file_download</i></a>
    </div>

  </section>

  <!-- SOCIAL MEDIA ICONS -->
  <div class="row show-for-large sm-icons">
    <ul class="b-sidebar">
      <a href="#" id="facebook"><li class="facebook"><i class="fa fa-facebook"></i></li></a><a href="#" id="linkedin"><li class="linkedin"><i class="fa fa-linkedin"></i></li></a>
      <a href="#" id="twitter"><li class="twitter"><i class="fa fa-twitter"></i></li></a>
      <a href="#" id="email" message="mailto:?subject={{ page.title | url_escape }}&body={{ page.description| append: '%0A%0ARead More%0A%0A' | url_escape}}"><li class="email"><i class="fa fa-envelope"></i></li></a>
    </ul>
  </div>
  <!-- End of Header -->

  {% ifhascontent takeaways %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Key Takeaways</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock takeaways %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent introduction %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Introduction</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock introduction %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent background %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Background</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock background %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent mechanics %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Mechanics / Workflow</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock mechanics %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}



  {% ifhascontent vtaiwan %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>The vTaiwan Process</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock vtaiwan %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent beta %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Permanent Beta</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock beta %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent rahvakogu %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Mechanics of Rahvakogu</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock rahvakogu %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent participation %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Participation</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock participation %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent instdescription %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Institutional Description and Impacts</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock instdescription %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent rahvaalgatus %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Mechanics of Rahvaalgatus</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock rahvaalgatus %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent risks %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Risks and Challenges</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock risks %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent learnings %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Key Learnings</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock learnings %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent description %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Project Description</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock description %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent impact %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Impact</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock impact %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent duration %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Duration</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock duration %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent resources %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Budget / Resources</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock resources %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent recommendations %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Recommendations</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock recommendations %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent interviews %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Interviews</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock interviews %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent footnotes %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Footnotes</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="">
          {% contentblock footnotes %}
          <!-- <span class="e-read-more js-more-toggle">Read More</span> -->
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% comment %}

  {% ifhascontent footnotes %}
  <div class="b-footnotes">
    <div class="row">
      <div class="medium-8 large-10 large-offset-1 columns">
        <h4>Reference</h4>
        {% contentblock footnotes %}
      </div>
      <div class="columns" style="">
        <div class="e-close"><i class="material-icons">close</i></div>
      </div>
    </div>
  </div>
  {% endifhascontent %}

  {% endcomment %}
</main>

<section class="page-section">
  <div class="row">
    <div class="column large-12 e-last">
      <p ><span >For more information or to request a proposal for a CrowdLaw project contact: </span><a href="#">XXXX</a><span >.</span></p>
    </div>
  </div>
</section>
