---
layout: default
---
<main class="case-study-page" role="main" id="case-study-page">
  <!-- Header with structured data -->
  <section class="top-section" style="background-image: url(images/banners/{{page.image}})">
    <div class="top-section__shade"></div>
    <div class="row">
      <div class="large-12 small-12 column">
        <hgroup class="titles" id="titles">
          <h4 class="collection m-{{page.impact_type | slugify}}">{{page.case_collection_long}}</h4>
          {% assign title_size = page.title | size %}
          {% if title_size > 20 %}
          <h1 class="large-title">{{page.title}}</h1>
          {% else %}
          <h1>{{page.title}}</h1>
          {% endif %}
          <h2>{{page.description}}</h2>

          {% if page.impact_type == "problem_definition" %}
          <div class="progress progress--1">
          {% endif %}
          {% if page.impact_type == "solution_identification" %}
          <div class="progress progress--2">
          {% endif %}
          {% if page.impact_type == "drafting" %}
          <div class="progress progress--3">
          {% endif %}
          {% if page.impact_type == "evaluation" %}
          <div class="progress progress--4">
          {% endif %}
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

          {% comment %}
          {% if page.authors %}
            <h4>by {{page.authors}}{% if page.special_thanks %}<a class="_idFootnoteLink" href="#footnote-999">*</a>{% endif %}</h4>
          {% endif %}
          {% endcomment %}
        </hgroup>
      </div>
    </div>
    <div class="row">
      <div class="large-6 column tags tags--left hide-for-small-only">
        {% comment %}
        {% if page.impact_type %}
          <p><strong style="width: 40%">Impact</strong><span>{{page.impact_type}}</span></p>
        {% endif %}
        {% endcomment %}
        {% if page.method %}
        <p><strong style="width: 40%">Method</strong><span>{{page.method}}</span></p>
        {% endif %}
        {% if page.participatory_task %}
        <p><strong style="width: 40%">Participatory Task</strong><span>{{page.participatory_task}}</span></p>
        {% endif %}
      </div>
      {% ifhascontent readtime %}
      {% contentblock readtime %}
      {% endifhascontent %}
    </div>

    <div class="floating-button">
      <a class="button button--{{page.impact_type | slugify}}" href="files/{{page.download}}">Download The Report<i class="material-icons">file_download</i></a>
    </div>

  </section>

  <!-- SOCIAL MEDIA ICONS -->
  <div class="row show-for-large sm-icons">
    <ul class="b-sidebar">
      <a href="#" id="facebook"><li class="facebook"><i class="fa fa-facebook"></i></li></a><a href="#" id="linkedin"><li class="linkedin"><i class="fa fa-linkedin"></i></li></a>
      <a href="#" id="twitter"><li class="twitter"><i class="fa fa-twitter"></i></li></a>
      <a href="#" id="email" message="mailto:?subject={{ page.title | url_escape }}&body={{ page.description | append: '%0A%0ARead More%0A%0A' | url_escape}}"><li class="email"><i class="fa fa-envelope"></i></li></a>
    </ul>
  </div>
  <!-- End of Header -->

  {% ifhascontent briefing %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Briefing Notes</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock briefing %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent what %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>What Is It?</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock what %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent how %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>What Is It?</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock how %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent takeaways %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Key Takeaways</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock takeaways %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent introduction %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Introduction</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock introduction %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent propuestas %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Propuestas Workflow</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock propuestas %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}



  {% ifhascontent studentled %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Student-led Civic Audits in Brazil</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock studentled %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}



  {% ifhascontent ghana %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>TransGov Ghana</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock ghana %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent cpec %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Connecticut Policy and Economic Council (CPEC): City Scan</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock ghana %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent background %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Background</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock background %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}




  {% ifhascontent description %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Project Description</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock description %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent campaign %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>From Campaigning to Governing</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock campaign %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent mechanics %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Mechanics / Workflow</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock mechanics %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent cdmx %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Mechanics of Constituci&oacute;n CDMX</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock cdmx %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent mudamos %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Mechanics of Mudamos</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock mudamos %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent reyk %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Mechanics of Better Reykjavik</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock reyk %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent dist %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Mechanics of My District</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock dist %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent crowd %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Crowd Constitutionmaking in Action</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock crowd %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent anote %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>A Note on Lower Levels of Government</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock anote %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent vtaiwan %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>The vTaiwan Process</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock vtaiwan %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent beta %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Permanent Beta</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock beta %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent rahvakogu %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Mechanics of Rahvakogu</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock rahvakogu %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent participation %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Participation</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock participation %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent cultural %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Institutional and Cultural Changes</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock cultural %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent advertisement %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Advertisement Campaigns</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock advertisement %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent costs %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Costs</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock costs %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent instdescription %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Institutional Description and Impacts</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock instdescription %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent instdescriptionsolo %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Institutional Description</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock instdescriptionsolo %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent instimpactsolo %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Institutional Impacts</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock instimpactsolo %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent impacts %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Impacts</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock impacts %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent rahvaalgatus %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Mechanics of Rahvaalgatus</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock rahvaalgatus %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent risks %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Risks and Challenges</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock risks %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent whatoutcomes %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>What are the outcomes?</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock whatoutcomes %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent outcomes %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Outcomes</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock outcomes %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent numbers %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Numbers and Results</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock numbers %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent future %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Future Plans</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock future %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent reactions %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Reactions</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock reactions %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent experience %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Users&rsquo; experience and perceptions after engaging with Constituci&oacute;n CDMX</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock experience %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}



  {% ifhascontent tableone %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Table 1: Online petitions that surpassed the established thresholds of digital signatures in the Constituci&oacute;n CDMX strategy.</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock tableone %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent learnings %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Key Learnings</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock learnings %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}



  {% ifhascontent impact %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Impact</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock impact %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent benefits %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>What are the benefits?</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock benefits %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent whatrisk %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>What are the risks?</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock whatrisk %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent duration %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Duration</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock duration %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent resources %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Budget / Resources</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock resources %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent recommendations %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Recommendations</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock recommendations %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent conclusion %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Conclusion</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock conclusion %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent interviews %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Interviews</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock interviews %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent footnotes %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Footnotes</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="">
          {% contentblock footnotes %}
          <!-- <span class="e-read-more js-more-toggle">Read More</span> -->
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% comment %}

  {% ifhascontent footnotes %}
  <div class="b-footnotes">
    <div class="row">
      <div class="medium-8 large-10 large-offset-1 columns">
        <h4>Reference</h4>
        {% contentblock footnotes %}
      </div>
      <div class="columns" style="">
        <div class="e-close"><i class="material-icons">close</i></div>
      </div>
    </div>
  </div>
  {% endifhascontent %}

  {% endcomment %}
</main>

<section class="page-section">
  <div class="row">
    <div class="column large-12 e-last">
      <p ><span >For more information or to request a proposal for a CrowdLaw project contact: </span><a href="#">XXXX</a><span >.</span></p>
    </div>
  </div>
</section>
