---
layout: default
---
<main class="case-study-page" role="main" id="case-study-page">
  <!-- Header with structured data -->
  <section class="top-section" style="background-image: url(images/banners/{{page.image}}); height: 50vh;">
    <div class="top-section__shade"></div>
    <div class="row">
      <div class="large-12 small-12 column">
        <hgroup class="titles" id="titles">
          <!-- <h4 class="collection m-{{page.impact_type | slugify}}">{{page.case_collection_long}}</h4> -->
          {% assign title_size = page.title | size %}
          {% if title_size > 20 %}
          <h1 class="large-title">{{page.title}}</h1>
          {% else %}
          <h1>{{page.title}}</h1>
          {% endif %}
          <h2>{{page.description}}</h2>
          {% if page.authors %}
          <h4>by {{page.authors}}{% if page.special_thanks %}<a class="_idFootnoteLink" href="#footnote-999">*</a>{% endif %}</h4>
          {% endif %}
        </hgroup>
      </div>
    </div>
<!--     <div class="row">
      <div class="large-6 column tags tags--left hide-for-small-only">
        {% if page.impact_type %}
          <p><strong>Impact</strong><span>{{page.impact_type}}</span></p>
        {% endif %}
        {% if page.sector %}
          <p><strong>Sector</strong><span>{{page.sector}}</span></p>
        {% endif %}
        {% if page.location %}
          <p><strong>Location</strong><span>{{page.location}}</span></p>
        {% endif %}
      </div>
        {% ifhascontent readtime %}
          {% contentblock readtime %}
        {% endifhascontent %}
      </div> -->
<!--     <div class="floating-button">
      <a class="button button--{{page.impact_type | slugify}}" href="files/{{page.download}}">Download The Report<i class="material-icons">file_download</i></a>
    </div> -->

  </section>

  <!-- SOCIAL MEDIA ICONS -->
<!--   <div class="row show-for-large sm-icons">
    <ul class="b-sidebar">
      <a href="#" id="facebook"><li class="facebook"><i class="fa fa-facebook"></i></li></a><a href="#" id="linkedin"><li class="linkedin"><i class="fa fa-linkedin"></i></li></a>
      <a href="#" id="twitter"><li class="twitter"><i class="fa fa-twitter"></i></li></a>
      <a href="#" id="email" message="mailto:?subject={{ page.title | url_escape }}&body={{ page.description| append: '%0A%0ARead More%0A%0A' | url_escape}}"><li class="email"><i class="fa fa-envelope"></i></li></a>
    </ul>
  </div> -->
  <!-- End of Header -->

  <!-- Content -->
  {% ifhascontent summary %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Summary</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock summary %}

          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent methods %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Methods</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock methods %}

          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent video %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Video</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock video %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent interviews %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Interviews Section</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="">
          {% contentblock interviews %}
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent cases %}


  <div class="divider">
    <div class="row align-center">
      <h2 style="text-transform: uppercase;">Case Studies</h2>
    </div>
  </div>

  <p>&nbsp;</p>

  {% contentblock cases %}
  {% endifhascontent %}
