<footer class='footer'>
  <div class="row expanded footer--darken">
    <div class="column large-4">
      <h5>Sections</h5>
    </div>
    <div class="column large-4 partner-no-show">
      <h5>Platform Partner</h5>
    </div>
  </div>
  <div class="row expanded">
    <div class="column large-4 small-12">
      <nav class="footer__nav">
        <a href="{{ 'index.html' | absolute_url }}">Home</a>
        <a href="{{ 'index.html#explore' | absolute_url }}">Explore</a>
        <a href="{{ 'problem-definition.html' | absolute_url }}">Problem Definition</a>
        <a href="{{ 'solution-identification.html' | absolute_url }}">Solution Identification</a>
        <a href="{{ 'drafting.html' | absolute_url }}">Drafting</a>
        <a href="{{ 'evaluation.html' | absolute_url }}">Evaluation</a>
      </nav>
    </div>
    <div class="column large-4 small-12">
      <h5 class="title-display">Platform Partner</h5>
      <a class="e-partner-logo" href="https://www.democracyfund.org/" tagret="_blank"><img src="{{ 'images/partners/demo-fund.png' | relative_url }}" alt="Democracy Fund"></a>
    </div>
  </div>
</footer>
