---
layout: default
title: Resources
---

<main role="main" id="periodic-table-page">
  
  <header>
    <h2>Periodic Table of Open Data</h2>      
  </header>
  
  
  <div class="periodic-table">
    {% for i in site.data.elements %}
      <div class="periodic-table__group periodic-table__group--{{i.id}}">
        <p class="group-name">{{i.group}}</p>
        <div class="periodic-table__element-container">
        {% for j in i.columns %}
        <div class="periodic-table__column">
            {% for k in j.elements %}
              {% if k.blank %}
              <div class="periodic-table__element element element--blank"></div>
              {% else %}
              <div id="{{k.symbol | slugify}}" class="periodic-table__element element element--{{i.id}} element--height-{{k.height}} ">
                <div class="element__container js-click">
                  <h2>{{k.symbol}}</h2>
                  <p>{{k.name}}</p>
                </div>
                <div class="element__description js-unclick">
                  <h3>{{k.symbol}}</h3>
                  <h4>{{k.name}}</h4>
                  <p>{{k.description}}</p>
                </div>
              </div>
              {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="periodic-tabs">
    {% for i in site.data.elements %}
    <div class="periodic-tab periodic-tab--{{i.id}} js-toggle">
      <header>
        <h3>{{i.group}}</h3>
        <p>{{i.description}}</p>
      </header>
      <section>
        {% for j in i.columns %}
          {% for k in j.elements %}
            {% if k.blank %}{% else %}
            <div class="periodic-tab__element">
              <div>
                <h3>{{k.symbol}}</h3>
                <h4>{{k.name}}</h4>
              </div>
              <p>{{k.description}}</p>
            </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </section>
    </div>
    {% endfor %}
  </div>
</main>
